.searchflight-btn{
    width: fit-content;
    border-radius: 20px;
    border:none;
    background-color: #daebff;
    color:#008CFF;
    padding:10px;
    font-size: 15px;
    
}

.offer-search-flight{
    background-color: #ffedd1;
}

.allflights{
    margin-top:20px;
    margin-bottom:20px;
    background-color: white;
}